
/* html{
  scroll-behavior: smooth;
} */
header{
  background: url(/assets/img/man.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

/* madia querry for small screens for the header */
@media screen and (max-width:670px){
  header{
    min-height: 500px;
  }
  
}

/* section padding */
.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
  
}
/* tabs */
.tabs .indicator {
 
  background-color: #1a237e;
  
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(185, 178, 246, 0.286);
  outline: none;
}